body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'JetBrains Mono',monospace,'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0F0E14;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 28px; /* Set a specific slider handle width */
    height: 28px; /* Slider handle height */
    border-radius: 50%;
    background:#E6E5EA;
  }
  .hover-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 28px;
    height: 28px;
    border: 2px solid #A4FFAF;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
  }

}

